

<h1>Edit existing user</h1>


<%= form_for @user do |f| %>

<p>

  <%= f.label :username %>
  <%= f.text_field :name %><br/>
</p>
<p>
  <%= f.label :email_id %>
  <%= f.text_field :email %><br/>
</p>
<p>
 <%= f.label :phoneNumber %>
 <%= f.text_field :phone_number %><br/>
</p>

<p>
 <%= f.label :password %>
 <%= f.password_field :password %><br/>
</p>

<p>
 <%= f.submit "update account"%>
</p>

<% end %>

<%= link_to 'Back', users_path %>
